<%- include('./partials/header') -%>
</head>
<%- include('./partials/navbar') -%>


<body>



  <div>
    <section>
      <div>
        <h2>Minha conta</h2>
      </div>
    </section>

    <div>
      <div>
        <aside>


          <ul>
            <li>
              <a href="/myAccount">
                Perfil
              </a>
            </li>
            <li>
              <a href="/account/password">
                Senha
              </a>
            </li>

            <li>
              <a href="/account/certificates" class="active">
                Certificados
              </a>
            </li>
          </ul>

        </aside>
        <main role="main">
          <h3>Meus certificados</h3>

          <p>
            Não há certificados disponíveis para visualização.
          </p>

        </main>
      </div>
    </div>

</body>

<%- include('./partials/footer') -%>