<%- include('./partials/header') -%>
<%- include('./partials/navbar') -%>
<link rel="stylesheet" href="myaccount.css">
</head>

<body >
    <div >
        <div >
            <div >
                <aside >
                    <ul>
                        <li>
                            <a href="/myAccount" class="active">
                                Perfil
                            </a>
                        </li>
                        <li>
                            <a href="/account/password" class="">
                                Senha
                            </a>
                        </li>
                        <li>
                            <a href="/account/certificates" class="">
                                Certificados
                            </a>
                        </li>
                    </ul>
                </aside>
                <main  role="main">
                    <h2 >Editar Perfil</h2>
                    <form  action="/account"  method="post">
                        

                        <div >

                            <section >
                                <div class="form-group">
                                    <label for="user[email]">E-mail</label>
                                    <input type="email" id="user[email]" name="user[email]" value=""
                                        class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label for="user[first_name]">Nome</label>
                                    <input type="text" id="user[first_name]" name="user[first_name]" value=""
                                        class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label for="user[last_name]">Sobrenome</label>
                                    <input type="text" id="user[last_name]" name="user[last_name]" value=""
                                        class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label for="user[profile_attributes][company]">Empresa</label>
                                    <input type="text" id="user[profile_attributes][company]"
                                        name="user[profile_attributes][company]" value="" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label for="user[profile_attributes][headline]">Título profissional</label>
                                    <input type="text" id="user[profile_attributes][headline]"
                                        name="user[profile_attributes][headline]" value="" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label
                                        for="user[profile_attributes][custom_profile_fields_attributes][1][value]">CNPJ</label>
                                    <input type="text"
                                        id="user[profile_attributes][custom_profile_fields_attributes][1][value]"
                                        name="user[profile_attributes][custom_profile_fields_attributes][1][value]"
                                        value="" class="form-control custom-field" />
                                </div>
                                <div class="form-group">
                                    <label
                                        for="user[profile_attributes][custom_profile_fields_attributes][2][value]">Endereço
                                        (obrigatório)</label>
                                    <input type="text"
                                        id="user[profile_attributes][custom_profile_fields_attributes][2][value]"
                                        name="user[profile_attributes][custom_profile_fields_attributes][2][value]"
                                        value="" required class="form-control custom-field" />
                                </div>
                                <div class="form-group">
                                    <label
                                        for="user[profile_attributes][custom_profile_fields_attributes][3][value]">Telefone
                                        (obrigatório)</label>
                                    <input type="text"
                                        id="user[profile_attributes][custom_profile_fields_attributes][3][value]"
                                        name="user[profile_attributes][custom_profile_fields_attributes][3][value]"
                                        value="" required class="form-control custom-field" />
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Salvar alterações" class="btn btn-primary" />
                                </div>
                            </section>
                        </div>
                    </form>
                </main>
            </div>
        </div>
    </div>
</body>
<%- include('./partials/footer') -%>