<%- include('./partials/header') -%>
</head>
<%- include('./partials/navbar') -%>
<body class="my-account-password-page ">
    <div class="my-account">
        <section class="my-account__banner">
            <div class="my-account__container">
                <h2 class="my-account__heading my-account__span">Minha conta</h2>
            </div>
        </section>

        <div class="my-account__container">
            <div class="my-account__wrapper">
                <aside class="my-account__menu hidden-print">


                    <ul>
                        <li>
                            <a href="/myAccount" class="">
                                Perfil
                            </a>
                        </li>
                        <li>
                            <a href="/account/password" class="active">
                                Senha
                            </a>
                        </li>
                        <li>
                            <a href="/account/certificates">
                                Certificados
                            </a>
                        </li>
                    </ul>

                </aside>
                <main class="my-account__content" id="main-content" role="main">
                    <h3 class="my-account__subheading">Alterar senha</h3>
                    <form id="my_account_password_59ca70ab88" action="/account/password" accept-charset="UTF-8"
                        method="post"><input name="utf8" type="hidden" value="&#x2713;" autocomplete="off" /><input
                            type="hidden" name="_method" value="put" autocomplete="off" /><input type="hidden"
                            name="authenticity_token"
                            value="4SMyrUmHZnvq3oWk5lHPs3LsV8jPSemGAHwk8n0aBI/ezh5dbXu4qv8y1VbDYgRPLmTJ8fVh4jTreTITlJbC9w=="
                            autocomplete="off" />

                        <div class="form__group">

                            <label for="user[password]" class="form__label">
                                Alterar senha
                            </label>
                            <input type="password" id="user[password]" name="user[password]" autocomplete="off"
                                autofocus class="form__control" />
                        </div>
                        <div class="form__group">

                            <label for="user[password_confirmation]" class="form__label">
                                Reinsira a senha
                            </label>
                            <input type="password" id="user[password_confirmation]" name="user[password_confirmation]"
                                class="form__control" />
                        </div>

                        <div class="form__group">

                            <label for="user[current_password]" class="form__label form__label">
                                Senha atual
                            </label>
                            <input type="password" id="user[current_password]" name="user[current_password]"
                                class="form__control" />
                            <p class="form__notice">(precisamos da sua senha atual para confirmar suas alterações)</p>
                        </div>

                        <div class="form__button-group">
                            <input type="submit" name="commit" value="Atualizar" class="button button-primary" />
                        </div>
                    </form>
                </main>
            </div>
        </div>
    </div>

</body>

<%- include('./partials/footer') -%>