<%- include('./partials/header') -%>
</head>
<%- include('./partials/navbar') -%>

<body>
    <div >
        <section >
            <div >
                <h2 >Minha conta</h2>
            </div>
        </section>

        <div >
            <div >
                <aside>
                    <ul>
                        <li>
                            <a href="/myAccount" >
                                Perfil
                            </a>
                        </li>
                        <li>
                            <a href="/account/password" class="active">
                                Senha
                            </a>
                        </li>
                        <li>
                            <a href="/account/certificates">
                                Certificados
                            </a>
                        </li>
                    </ul>
                </aside>
                <main  role="main">
                    <h3 >Alterar senha</h3>
                    <form action="/account/password"  method="post">
                        <div class="form-group">
                            <label for="user[password]">Alterar senha</label>
                            <input type="password" id="user[password]" name="user[password]" autocomplete="off"
                                autofocus class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="user[password_confirmation]">Reinsira a senha</label>
                            <input type="password" id="user[password_confirmation]" name="user[password_confirmation]"
                                class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="user[current_password]" class="form__label">Senha atual</label>
                            <input type="password" id="user[current_password]" name="user[current_password]"
                                class="form-control" />
                            <p class="form__notice">(precisamos da sua senha atual para confirmar suas alterações)</p>
                        </div>
                        <div class="form-group">
                            <input type="submit" name="commit" value="Atualizar" class="btn btn-primary" />
                        </div>
                    </form>
                </main>
            </div>
        </div>
    </div>
</body>

<%- include('./partials/footer') -%>